<%- include("../includes/head") %>
    </head>

    <body>
        <%- include("../includes/navigation") %>
            <main>
                <h1>The <%= pageTitle %> page will disply here!</h1>
            </main>
    </body>

    </html>