<%- include("../includes/head") %>
    </head>

    <body>
        <%- include("../includes/navigation") %>
            <main>
                <form class="product-form" action="/admin/remove-product" method="post">
                    <div class="form-control">
                        <label for="title">Which product will you like to remove?</label>
                        <input type="text" name="title" id="title">
                    </div>

                    <button class="btn" type="submit">Remove Product</button>
                </form>
            </main>
    </body>

    </html>