<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <h1>Hello <%= username %>.</h1>
        <p>
            You requested a password reset. Click this <a href="http://localhost:8000/reset/<%= token %>">link</a> to
            set a
            new password.
        </p>
        <%- include('../includes/end.ejs') %>